# Concatenar DataFrames con pandas
Cargar el archivo `mompean.csv` en un DataFrame llamado `mompean`. Indicar que la columna `FechaHora` es de tipo `Datetime` y usarla como `index` del DataFrame.

In [145]:
# Completar aquÃ­
from pathlib import Path

import pandas as pd

DATA_DIRECTORY: Path = Path("../data")

mompean: pd.DataFrame = pd.read_csv(
    DATA_DIRECTORY / "mompean.csv", parse_dates=["FechaHora"], index_col="FechaHora"
)
mompean
# --------------------

,NO,NO2,SO2,O3,TMP,HR,NOX,DD,PRB,RS,VV,C6H6,C7H8,XIL,PM10,Ruido
FechaHora,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,4.0,7.0,17.0,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,56.0
2010-01-01 01:00:00,6.0,12.0,18.0,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,58.0
2010-01-01 02:00:00,6.0,17.0,17.0,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,60.0
2010-01-01 03:00:00,5.0,10.0,18.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,57.0
2010-01-01 04:00:00,4.0,8.0,19.0,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,9.0,35.0,8.0,47.0,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN
2019-12-31 20:00:00,29.0,59.0,9.0,24.0,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
2019-12-31 21:00:00,59.0,65.0,8.0,10.0,NaN,NaN,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN
2019-12-31 22:00:00,51.0,51.0,9.0,11.0,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN
2019-12-31 23:00:00,32.0,42.0,9.0,7.0,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN

AÃ±adir a `mompean` dos columnas que contengan el dÃ­a de la semana y la hora correspondiente a cada mediciÃ³n. Para ello, podrÃ©is usar las dos propiedades `dayofweek` y `hour` que se pueden aplicar a un `Datetimeindex`.

In [146]:
# Completar aquÃ­
diashoras: pd.DataFrame = pd.DataFrame(
    {"dia_semana": mompean.index.dayofweek, "hora": mompean.index.hour},
    index=mompean.index,
)

print(
    "NOTA: en el output proporcionado la columna dia y dia_semana es lo mismo (duplicada). Por eso aquÃ­ solo me quedo con dia_semana"
)
mompean2: pd.DataFrame = pd.concat([mompean, diashoras], axis=1).dropna(how="all", axis=1)

mompean2
# --------------------

NOTA: en el output proporcionado la columna dia y dia_semana es lo mismo (duplicada). Por eso aquÃ­ solo me quedo con dia_semana

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia_semana,hora
FechaHora,,,,,,,,,
2010-01-01 00:00:00,4.0,7.0,17.0,NaN,14.0,5.0,56.0,4,0
2010-01-01 01:00:00,6.0,12.0,18.0,NaN,21.0,15.0,58.0,4,1
2010-01-01 02:00:00,6.0,17.0,17.0,NaN,26.0,12.0,60.0,4,2
2010-01-01 03:00:00,5.0,10.0,18.0,NaN,18.0,2.0,57.0,4,3
2010-01-01 04:00:00,4.0,8.0,19.0,NaN,14.0,5.0,55.0,4,4
...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,9.0,35.0,8.0,47.0,49.0,19.0,NaN,1,19
2019-12-31 20:00:00,29.0,59.0,9.0,24.0,102.0,41.0,NaN,1,20
2019-12-31 21:00:00,59.0,65.0,8.0,10.0,155.0,48.0,NaN,1,21
2019-12-31 22:00:00,51.0,51.0,9.0,11.0,130.0,45.0,NaN,1,22
2019-12-31 23:00:00,32.0,42.0,9.0,7.0,90.0,44.0,NaN,1,23

Seleccionar los valores correspondientes a Domingo a las 12 de la maÃ±ana en un dataframe y calcular las medias de sus columnas

In [147]:
# Completar aquÃ­
res = mompean2[(mompean2["dia_semana"] == 6) & (mompean2["hora"] == 12)].mean().dropna()
res
# --------------------

NO             6.971319
NO2           17.288719
SO2            7.856874
O3            70.305556
NOX           27.862333
PM10          22.290566
Ruido         60.154696
dia_semana     6.000000
hora          12.000000
dtype: float64

QuÃ© tipo de objeto es el resultado? Transformadlo en un DataFrame de una fila y 10 columnas.

In [148]:
# Completar aquÃ­
print(f"El resultado es de tipo: {type(res)}")
# Como es un pd.Series, lo podemos transformar en dataframe creando uno directamente y pasandole el res
res_df: pd.DataFrame = pd.DataFrame([res], columns=res.index)
res_df
# --------------------

El resultado es de tipo: <class 'pandas.core.series.Series'>

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia_semana,hora
0,6.971319,17.288719,7.856874,70.305556,27.862333,22.290566,60.154696,6.0,12.0

Escribid un bucle que calcule para cada hora y dÃ­a de la semana, el valor promedio de los distintos niveles de los indicadores de calidad del aire de `mompean` y que los vaya uniendo en un DataFrame

In [149]:
# Completar aquÃ­
mompean_mean: pd.DataFrame = pd.DataFrame()
for d in range(7):
    for h in range(24):
        result_serie: pd.Series = (
            mompean2[(mompean2["dia_semana"] == d) & (mompean2["hora"] == h)]
            .mean()
            .dropna()
        )
        result_df: pd.DataFrame = pd.DataFrame(
            [result_serie], columns=result_serie.index
        )
        mompean_mean = pd.concat([mompean_mean, result_df])

mompean_mean
# --------------------

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia_semana,hora
0,7.562380,25.581574,7.512287,55.924303,37.084453,22.472486,57.027624,0.0,0.0
0,6.180077,23.312261,7.435606,53.521912,32.668582,20.853890,55.419890,0.0,1.0
0,5.517241,21.136015,7.361742,51.169323,29.501916,20.206831,53.508287,0.0,2.0
0,4.126437,17.105364,7.229167,50.878486,23.373563,18.842505,52.569061,0.0,3.0
0,3.624521,14.111111,7.143939,50.537849,19.616858,17.838710,51.806630,0.0,4.0
...,...,...,...,...,...,...,...,...,...
0,5.676245,18.860153,8.581132,77.117296,27.421456,22.644612,60.044199,6.0,19.0
0,6.545977,20.641762,8.330189,73.753479,30.588123,22.718336,60.364641,6.0,20.0
0,7.767754,23.921305,7.835539,68.711155,35.700576,23.905303,60.569061,6.0,21.0
0,8.694818,26.278311,7.667297,63.896414,39.462572,23.990512,59.972376,6.0,22.0
0,9.168906,27.220729,7.655955,59.272908,41.084453,23.339658,58.375691,6.0,23.0

El realizar un bucle que lleva a cabo un `concat` en cada iteraciÃ³n tal como se ha hecho anteriormente no es recomendable porque `concat` crea cada vez una copia nueva del DataFrame lo que no es nada Ã³ptimo en cuanto a rendimiento. Es mejor construir un iterable con todos los DataFrames, y luego usar `concat` solo una vez sobre el iterable. 

Usando una "list comprehension", construir una lista que contenga todos los DataFrame relevantes del apartado anterior (medias para cada hora y dÃ­a de la semana). A continuaciÃ³n concatenarlos para obtener el DataFrame del apartado anterior

In [150]:
# Completar aquÃ­
mompean_mean2 = pd.DataFrame()
result_list: list = [
    mompean2[(mompean2["dia_semana"] == d) & (mompean2["hora"] == h)].mean().dropna()
    for d in range(7)
    for h in range(24)
]

mompean_mean2: pd.DataFrame = pd.concat([mompean_mean2, pd.DataFrame(result_list)])
mompean_mean2
# --------------------

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia_semana,hora
0,7.562380,25.581574,7.512287,55.924303,37.084453,22.472486,57.027624,0.0,0.0
1,6.180077,23.312261,7.435606,53.521912,32.668582,20.853890,55.419890,0.0,1.0
2,5.517241,21.136015,7.361742,51.169323,29.501916,20.206831,53.508287,0.0,2.0
3,4.126437,17.105364,7.229167,50.878486,23.373563,18.842505,52.569061,0.0,3.0
4,3.624521,14.111111,7.143939,50.537849,19.616858,17.838710,51.806630,0.0,4.0
...,...,...,...,...,...,...,...,...,...
163,5.676245,18.860153,8.581132,77.117296,27.421456,22.644612,60.044199,6.0,19.0
164,6.545977,20.641762,8.330189,73.753479,30.588123,22.718336,60.364641,6.0,20.0
165,7.767754,23.921305,7.835539,68.711155,35.700576,23.905303,60.569061,6.0,21.0
166,8.694818,26.278311,7.667297,63.896414,39.462572,23.990512,59.972376,6.0,22.0
167,9.168906,27.220729,7.655955,59.272908,41.084453,23.339658,58.375691,6.0,23.0